/* @override 
	http://localhost:3000/css/style.css */

html {
}

body {
	font-family: 'Helvetica Neue', Helvetica, Arial, serif;
	background: #222;
	color: #333;
}

h1, h2, h3, h4 {
	background: #333;
	color: #fd0;
	padding: 6px;
	display: inline-block;
	font-weight: bold;
	letter-spacing: .1em;
	text-transform: uppercase;
}

a {
	color: #ffbc00;
}

#container {
	width: 1218px;
	margin: 0px auto;
	padding:  15px;
}

#page-header {
	width: 750px;
	margin-bottom: 20px;
}

#page-title  {
	display: inline-block;
}

#page-title h1 {
	font-family: 'ChunkFiveRegular', 'Helvetica Neue', Helvetica, Arial, serif;
	font-size: 300%;
}

#page-title h3 {
	display: inline-block;
	float: right;
	font-size: 100%;
}

#main {
	width: 750px;
	float: left;
}

#right {
	margin-left: 30px;
	width: 438px;
	float: left;
}

#right h4 {
	font-family: 'Helvetica Neue', Helvetica, Arial, serif;
	padding: 8px;
}

.sidebar {
	font-size: 80%;
	//font-weight: bold;
	margin-left: 10px;
	margin-bottom: 20px;
	margin-top: 10px;
}

.sidebar td {
	//line-height: 16px;
	padding-bottom: 6px;
}

.sidebar td.count {
	width: 60px;
	text-align: right;
}

.sidebar .song {
	background-color: #fff;
	margin-left:  5px;
	float: left;
	padding: 2px 3px;
}

.sidebar .chartbar {
	background-color: #fd0;
	text-align: right;
	float: right;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

#song-list {
	margin: 5px;
}

#song-list tr {
}

#song-list td {
	vertical-align: baseline;
	padding-left: 6px;
	padding-bottom: 12px;
}

#song-list .plus {
	vertical-align: middle;
	text-align: center;
	padding-left:  0px;
}

#song-list .content {	
}

#song-list .button-plus {
	background-color: #fd0;
	font-weight: bold;
	padding: 0px 5px 0px;
	text-decoration: none;
	color: #333;
	font-family: Arial;
}

#song-list .button-plus.recent {
	font-size: 200%;
	font-weight: bold;
}

#song-list .button-plus:hover {
	background-color: #555;
	color: #ddd;
}

#song-list .song {
	background-color: #fff;
	padding-left: 3px;
	padding-right: 3px;
}

#song-list .song.recent {
	font-size: 200%;
	border: 5px #fff solid;
}

#song-list .time {
	background-color: #fd0;
	font-size: 100%;
	padding-left: 3px;
	padding-right: 3px;
}

#song-list .time.recent {
	background-color: #fd0;
	color: #222;
	font-size: 130%;
	display: inline-block;
	padding-left: 3px;
	padding-right: 3px;
	text-align: right;
	padding-bottom: 5px;
}

#page-footer {
	width: 750px;
	margin: 0px auto;
	text-align: center;
	font-size: 70%;
	font-weight: bold;
}

#page-footer footer {
	display: inline-block;
	background: #333;
	color: #ddd;
	margin-top: 40px;
	padding: 6px 30px;
}

.clear { 
	clear: both; 
	font: 1px/1px sans-serif; 
	height: 1px; 
	overflow: hidden; 
}

.break { 
	clear: both; 
	overflow: hidden; 
}
