html, body {
    background-color: #eee;
}
  
body {
    padding-top: 40px; /* 40px to make the container go all the way to the bottom of the topbar */
}

footer p {
    text-align: center; /* center align it with the container */
}

/* The white background content wrapper */
.content {
    background-color: #fff;
    padding: 20px;
    margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
    -webkit-border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
    border-radius: 0 0 6px 6px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
    box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

/* Page header tweaks */
.page-header {
    background-color: #f5f5f5;
    padding: 20px 20px 10px;
    margin: -20px -20px 20px;
}

/* Give a quick and non-cross-browser friendly divider */
.content .span6 {
    margin-left: 0;
    padding-left: 19px;
    border-left: 1px solid #eee;
}

.topbar .btn {
    border: 0;
}

#song-list
{
    padding: 10px;
}

#song-list .plus
{ 
    width: 20px;
    text-align: center;
}

#song-list .button-plus
{
    text-align: center;
    font-size: 9.75px;
    //font-weight: bold;
    background-color: #0064CD;
    padding: 5px 8px 6px;
    color: white;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#song-list .button-plus:hover
{
    text-decoration: none;
    background-color: #004A99;
}

#song-list .song
{
}

#song-list .time
{
    width: 140px;
    text-align: right;
}

.sidebar .count
{
    width: 60px;
    text-align: right;
}

.sidebar table
{
    border: 0px;
}

.sidebar table td
{
    padding: 1px 5px;
    border-top: 0px;
}

.sidebar table tr
{
    font-size: 90%;
    color: #555;
}

.chartbar
{
    background-color: #FDDFDE;
    border: 1px solid #FBC7C6;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    color: #666;
    padding: 0px 3px;
}